{% extends 'layout.html' %}
{% block content %}
	<body class="left-sidebar is-preload">
		<div id="page-wrapper">

			<!-- Header -->
			<section id="header" style="margin-top: 0; padding-top: 0;">

				<!-- Nav -->
					<nav id="nav" style="margin: 0; padding: 0;">
						<ul>
							<li><a href="{{ url_for('home') }}">Home</a></li>
							<li class="current"><a href="{{ url_for('allcocktails') }}">Cocktails</a></li>
							{% if current_user.is_authenticated %}
								<li><a href="{{ url_for('mycocktails') }}">My Cocktails</a></li>
								<li><a href="{{ url_for('profile') }}">Profile</a></li>
								<li><a href="{{ url_for('logout') }}">Log Out</a></li>
							{% else %}
								<li><a href="{{ url_for('login') }}">Log In</a></li>
							{% endif %}
						</ul>
					</nav>
				</section>

<!-- Main -->
<section id="main">
	<div class="container">
		<div class="row">
				<!-- All Cocktails -->
					<section>
						<header class="major">
							<h2>Cocktails</h2>
						</header>
						<div class="row">
							<div class="col-4 col-6-medium col-12-small">
								<section class="box">
									<a href="#" class="image featured"><img src="../static/../static/images/pic02.jpg" alt="" /></a>
									<header>
										<h3>Cosmopolitan</h3>
									</header>
									<p>Made iconic by TV’s “Sex and the City,” the Cosmo mixes vodka, triple sec, cranberry juice, and lime juice. It’s the liquid soul of the aspirational 1990s female, and still resonates with the world today. (Incidentally, Carrie Bradshaw has reportedly moved on to Stella Artois.)</p>
									<footer>
										<ul class="actions">
											<li><a href="#" class="button alt">More</a></li>
										</ul>
									</footer>
								</section>
							</div>
							<div class="col-4 col-6-medium col-12-small">
								<section class="box">
									<a href="#" class="image featured"><img src="../static/images/pic03.jpg" alt="" /></a>
									<header>
										<h3>Amaretto Sour</h3>
									</header>
									<p>In a victorious climb from No. 41 in 2017, the Amaretto Sour is both a staple at the world’s best bars, and a drink we’ve compared to a liquid Sour Patch Kid. It’s both sweet from the nutty amaretto, and sour from lemon juice, while egg white smooths out the tang.</p>
									<footer>
										<ul class="actions">
											<li><a href="#" class="button alt">More</a></li>
										</ul>
									</footer>
								</section>
							</div>
							<div class="col-4 col-6-medium col-12-small">
								<section class="box">
									<a href="#" class="image featured"><img src="../static/images/pic04.jpg" alt="" /></a>
									<header>
										<h3>Americano</h3>
									</header>
									<p>Not to be confused with the espresso drink (and in fact, having nothing to do with coffee at all), this Italian cocktail was created by Gaspare Campari, who served it in his bar Caffè Campari in the 1860s. New to the list in 2018, and up 15 places since then, the Campari, vermouth, and soda water drink is quickly rising in popularity.</p>
									<footer>
										<ul class="actions">
											<li><a href="#" class="button alt">More</a></li>
										</ul>
									</footer>
								</section>
							</div>
							<div class="col-4 col-6-medium col-12-small">
								<section class="box">
									<a href="#" class="image featured"><img src="../static/images/pic05.jpg" alt="" /></a>
									<header>
										<h3>Vodka Martini</h3>
									</header>
									<p>The Vodka Martini spiked in popularity in 2017, but has since slid down 23 spots. It’s pretty basic: a shot of chilled vodka mixed with a little dry vermouth, somehow still in demand at the world’s best cocktail bars.</p>									<footer>
									<footer>
										<ul class="actions">
											<li><a href="#" class="button alt">More</a></li>
										</ul>
									</footer>
								</section>
							</div>
							<div class="col-4 col-6-medium col-12-small">
								<section class="box">
									<a href="#" class="image featured"><img src="../static/images/pic06.jpg" alt="" /></a>
									<header>
										<h3>Moscow Mule</h3>
									</header>
									<p>This famous mug-dwelling drink contains ginger, vodka, lime, and soda. It’s famously served in a Moscow Mule mug, which we venture to guess is much of its slushy appeal.</p>
									<footer>
										<ul class="actions">
											<li><a href="#" class="button alt">More</a></li>
										</ul>
									</footer>
								</section>
							</div>
							<div class="col-4 col-6-medium col-12-small">
								<section class="box">
									<a href="#" class="image featured"><img src="../static/images/pic07.jpg" alt="" /></a>
									<header>
										<h3>Old Fashionned</h3>
									</header>
									<p>The Old Fashioned is timeless. This simple classic made with rye or bourbon, a sugar cube, Angostura bitters, a thick cube of ice, and an orange twist delivers every time. That’s it — the most popular cocktail in the world.</p>
									<footer>
										<ul class="actions">
											<li><a href="#" class="button alt">More</a></li>
										</ul>
									</footer>
								</section>
							</div>
						</div>
					</section>
		</div>
	</div>
</section>


				<!-- Footer -->
				<section id="footer">
					<div class="container">
						<div class="row">
							
							<div class="col-6 col-6-medium">
								<section>
									<header>
										<h2>Follow us!</h2>
									</header>
									<ul class="social">
										<li><a class="icon brands fa-facebook-f" href="#"><span class="label">Facebook</span></a></li>
										<li><a class="icon brands fa-twitter" href="#"><span class="label">Twitter</span></a></li>
										<li><a class="icon brands fa-linkedin-in" href="#"><span class="label">LinkedIn</span></a></li>
									</ul>
							</div>
							<div class="col-6 col-6-medium">
									<ul class="contact">
										<li>
											<h3>Address</h3>
											<p>
												Cocktail Molotov LTD<br />
												1234 Somewhere Road Suite<br />
												Brussels, BE 0000
											</p>
										</li>
										<li>
											<h3>Mail</h3>
											<p><a href="#">sayhello@cocktailmolotov.com</a></p>
										</li>
										<li>
											<h3>Phone</h3>
											<p>(800) 000-0000</p>
										</li>
									</ul>
								</section>
							</div>
							<div class="col-12">

								<!-- Copyright -->
									<div id="copyright">
										<ul class="links">
											<li>&copy; Cocktail Molotov. All rights reserved.</li>
										</ul>
									</div>

							</div>
						</div>
					</div>
				</section>

		</div>

		<!-- Scripts -->
			<script src="../static/js/jquery.min.js"></script>
			<script src="../static/js/jquery.dropotron.min.js"></script>
			<script src="../static/js/browser.min.js"></script>
			<script src="../static/js/breakpoints.min.js"></script>
			<script src="../static/js/util.js"></script>
			<script src="../static/js/main.js"></script>

	</body>
{% endblock content %}