{% extends 'layout.html' %}
{% block content %}
<!-- Main -->
<section id="main" style="text-align: center;">
	<div class="container" style="text-align: center;">
		<div class="row" style="text-align: center;">
			<!-- REGISTER -->
			<section class="col-4 col-10-sm" style="text-align: center; margin: auto;">
				<h1>LOG IN:</h1>
				<form action="" method="POST">
					{{ form.hidden_tag() }}
					<div class="form-group">
						{{ form.email.label }}
						{{ form.email }}
					
						{{ form.password.label }}
						{{ form.password }}

						{{ form.submit }}

					</div>
				</form>
			<p>You don't have an account yet? <a href="{{ url_for('register')}}">Register here!</a></p>
			<p><a href="{{ url_for('reset_request')}}">Reset password</a></p>
			</section>		
		</div>
	</div>
</section>
{% endblock content %}
