{% extends 'layout.html' %}
{% block content %}
<!-- Main -->
<section id="main" style="text-align: center;">
	<div class="container" style="text-align: center;">
		<div class="row" style="text-align: center;">
			<section class="col-4 col-10-sm" style="text-align: center; margin: auto;">
				<h1>Your information:</h1>
				<p>Username: {{ current_user.username }}</p>
				<p>Email: {{ current_user.email }} </p>
				<p><a href="#">Change password</a></p>
				<p><a href="#">Delete account</a></p>
			</section>    
		</div>
	</div>
</section>
{% endblock content %}