{% extends 'layout.html' %}
{% block content %}
<!-- Main -->
<section id="main" style="text-align: center;">
	<div class="container" style="text-align: center;">
		<div class="row" style="text-align: center;">
			<section class="col-4 col-10-sm" style="text-align: center; margin: auto;">
				<h1>REGISTER:</h1>
				<form action="" method="POST">
					{{ form.hidden_tag() }}
					<div class="form-group">
						{{ form.username.label }}
						{{ form.username }}

						{{ form.email.label }}
						{{ form.email }}

						{{ form.password.label }}
						{{ form.password }}

						{{ form.confirm_password.label }}
						{{ form.confirm_password }}

						{{ form.submit }}
					</div>
				</form>
				<p>Already have an account? <a href="{{ url_for('login')}}">Log In!</a></p>
			</section>
		</div>
	</div>
</section>
{% endblock content %}