{% extends 'layout.html' %}
{% block content %}
<!-- Main -->
<section id="main" style="text-align: center;">
	<div class="container" style="text-align: center;">
		<div class="row" style="text-align: center;">
			<section class="col-8 col-10-sm" style="text-align: center; margin: auto;">
				<h2>{{ name }}</h2>
				<img src="../static/images/pic02.jpg" alt="">
				<h3>Description:</h3>
				<p>{{ description}}</p>
				<h3>Ingredients:</h3>
				{% for ingredient in ingredients %}
					<p>-> {{ ingredient }}</p>
				{% endfor %}
			</section>		
		</div>
	</div>
</section>
{% endblock content %}