{% extends 'layout.html' %}
{% block content %}
<!-- Main -->
</section> <!--don't delete-->
<section id="main" style="text-align: center;">
	<div class="container" style="text-align: center;">
		<div class="row" style="text-align: center;">
			<section class="col-8 col-10-sm" style="text-align: center; margin: auto;">
				<h2>{{ name }}</h2>
				<img src="../static/images/pic02.jpg" alt="">
				<h3>Description:</h3>
				<p>{{ description}}</p>
				<h3>Ingredients:</h3>
				{% for ingredient in ingredients %}
					<p style="margin-bottom: -3px;"><strong>-</strong> {{ ingredient }}</p>
				{% endfor %}
				<button value="add" style="background-color: #ccc; margin-top: 10px;">
					<a href="/add/favorites/{{ name }}" style="text-decoration: none; color: #37d;">Add to favorites</a>
				</button>
			</section>	
		</div>
	</div>
</section>
{% endblock content %}